<!DOCTYPE html>
<html lang="eng">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <title>
                Google Homepage!</title>
        </head>
    <body>
        <div>
            <input type="text" placeholder="">
        </div>
        <div>
            <ul>
                    <li>
                        <a href="http://gmail.com/">Gmail</a>
                    </li>
                    <li>
                        <a href="http://images.com/">Images</a>
                    </li>
                    <li>
                        <a href="https://www.google.co.ug/intl/en/options/">Google apps</a>
                    </li>
            </ul>
        </div>        
    </body>
</html>        